/* Seccion de cabecera final "footer" */
footer{
    width: 100%;
    padding: 15px 0px;
    background: #fff;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 500;
    box-shadow: 1px 1px 5px;
}

/* Posicion de los parrafos */
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 2px;
    text-decoration: none;
    cursor: default;
}


/* Posicion 2 */
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-decoration: none;
    cursor:default;
}

/* Posicion del logo */
.box__footer .logo- .logo-vsb{
    width: 130px;
    text-decoration: none;
    cursor:pointer;
}


/* Posicion del logo */
.box__footer .logo- .logo-dar{
    width: 130px;
    text-decoration: none;
    cursor:pointer;
    visibility: hidden;
    position: absolute;
}



/* Posicion de los terminos de licencia */
.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 400;
    color: #020d2b;
    font-size: 18px;
    text-decoration: none;
}

/* Estilo de los titulos del footer */
.box__footer h2{
    margin-bottom: 30px;
    color: #020d2b;
    font-weight: 500;
    text-decoration: none;
}

/* Estilos de los links del footer */
.box__footer a{
    margin-top: 5px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
    font-style: none;
    line-height: 25px;
    font-size: 16px;
}


/* Estilo de los links del footer con la subclase hover */
.box__footer a:hover{
    opacity: 0.8;
    text-decoration: none;
}

/* Estilo lineal */
.box__footer a .fab{
    font-size: 20px;
    text-decoration: none;
    color: #020d2b;
}

/* Estilo del copyright */
.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
    text-decoration: none;
}

/* Estilo de los parrafos de la seccion copyright */
.box__copyright p{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

/* Estilo de cambio de tema de los parrafos */
.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #020d2b;
    text-decoration: none;
}














